<div class="container" style="background: gray">
<div class="jumbotron" style="padding: 10px 10px">
  <h3>Task Tracker</h3>
  <p>v2.0</p> 
</div>

<div class="container">
  <div class="row">
    <div class="col-md-5" style="background: white">      <h5>Create a Task</h5>

        <div class="form-group">
          <label class="control-label">Task Name</label>
          <input type="text" class="form-control" [(ngModel)]="name" id="name" name="name">
        </div>
        <div class="form-group">
          <label class="control-label">Date</label>
          <input type="text" class="form-control" [(ngModel)]="date" id="date" name="date">
        </div>
        <div class="form-group">
          <label class="control-label">Assign To</label>
          <input type="text" class="form-control" [(ngModel)]="assigned" id="assigned" name="assigned">
        </div>
        <div class="form-group">
          <button class="btn btn-primary"  (click)="clickSave()">Submit</button>
          </div>
     
    </div>
    <p class="col-md-1"></p>
    <div class="col-md-5" style="background: white">
      <h5>Existing Task</h5>
      <table class="table table-striped" style="border: 10px auto">
        <tbody>
          <tr *ngFor="let d of data; let i = index">
              <td>{{d.name}}</td><td>{{d.date}}</td><td>{{d.assigned}}</td><td>
                <button class="btn btn-danger" (click)="remove(i)">Close X</button>
              </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<br>
</div>
